.avRed{
    margin: 0;
    padding: 0;
    width: auto;
    font-size: 35px;
    color: red;
}
.avBlue{
    margin: 0;
    padding: 0;
    width: auto;
    font-size: 35px;
    color: blue;
}
.linhaCinza{
    background-color: #333;
    color: aliceblue;
}
.superTitulo{
    background-color: gold;
    color: black;
}
.normalTitulo{
    background-color: silver;
    color: black;
}